@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    transition: all 0.5s linear;
    font-family: 'Courgette', cursive;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Inclusive Sans', Sans-serif;
}

.background {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(2 10 10/57%), (2 10 10/20%)), url(healthc.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.navbar img {
    width: 80px;
}

.navbar-items {
    flex: 1;
    text-align: right;
}

.navbar {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar ul li {
    position: relative;
    list-style: none;
    display: inline;
    padding: 1% 2%;
    font-weight: bold;
    font-size: 18px;
}

.navbar ui li {
    text-decoration: none;
    color: #fff;
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    display: black;
    margin: auto;
    transition: 0.5s;
    background-color: #2e6476;
}

.navbar ul li:hover::after {
    width: 100%;
}

.burger {
    display: none;
}


/*    main   */

.main {
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-box {
    color: #fff;
    width: 40%;
}

.text-box h1 {
    padding: 2px;
    font-size: 60px;
}

.text-box p {
    padding: 1% 0;
}

.box {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #2e6476;
    height: 55%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.box input {
    width: 70%;
    border: none;
    outline: none;
    margin: 2% 3%;
    padding: 3%;
    border-radius: 5px;
}

.box h1 {
    margin-bottom: 3%;
    color: #2e6476;
    border: 2px solid transparent;
    padding: 10px 8px;
    display: inline-block;
    position: relative;
    text-decoration: none;
}